.chatView {
  position: relative;
  width: 250px;
  height: 400px;
  background-color: white;
}

.chatView > img {
  cursor: pointer;
}

.chatView__timer {
  position: absolute;
  top: 0;
  right: 10;
  margin: 10px;
}
